/*=======reset===========*/

* {
*   box-sizing:border-box;
*   }
*
*   body, h1, h2, h3 {
*     margin:0;
*       padding:0;
*         font-family:Arial;
*         }
*
*         h1 {
*           text-align: center;
*             padding:20px;
*               background:black;
*                 font-weight:300;
*                   color:#999;
*                     font-size:1.4em;
*                     }
*
*                     p {
*                       padding:5px 10px;
*                         background: orange;
*                           display:inline-block;
*                             margin:10px;
*                             }
*
*/*=======container===========*/

.wrap {
  padding:10px;
}

/* ======left-listView====== */

.wrap-listview, .img-view {
  min-width:250px;
  float:left;
}

.img-view {
   min-width:50px;
}


.text-view {
  margin-top:-4px;
  text-indent:10px;
}

.text-view h2 {
  font-size:1.3em;
  color:#666;
  font-weight:500;
}

.text-view h3 {
  font-size:1em;
  font-weight:300;
  color:#999;
}

ul {
  margin:0;
  padding:0;
}

li {
  border:1px solid #cccccc;
  border-bottom:none;
  list-style-type:none;
  padding:10px;
}

li:last-of-type {
   border-bottom:1px solid #cccccc;
}

li:hover, li:hover h2,  li:hover h3{
  cursor:pointer;
  background:#63c7fc;
  color:white;
}

.active {
  background:#63c7fc;
}

/* ========right-detailsView====== */

.wrap-detailsview {
  overflow:auto;
  padding-left:10px;
}

.wrap-detailsview .img-view{
  min-width:300px;
}

.wrap-detailsview .text-view {
  overflow:auto;
}

.wrap-detailsview .text-view  h2 {
  margin-top:5px;
}

.wrap-detailsview .text-view  h3 {
    margin-bottom:25px;
}

