body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.tick {
  width: 2px
}

.axis {
  font: 20px sans-serif;
  font-weight: bold;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  shape-rendering: crispEdges;
}
